[h1]{{ product.name }}[/h1] 
{{ product.store_url }}

【分　類】{{ product.mod_category }}
【作製者】{{ product.mod_author }}
【配布所】[url={{ product.mod_workshop_link }}] {{ product.mod_workshop_name }}[/url]
【備　考】{{ product.mod_description }}